<?xml version="1.0"?>

<launch>

    <!-- IMU + Encoders EKF-->
    <node pkg="robot_localization" type="ekf_localization_node" name="ekf_local" clear_params="true" output="screen">
        <rosparam command="load" file="$(find configurations)/robot_localization/ekf_local.yaml"/>
        <remap from="odometry/filtered" to="ekf/local_odom"/>
    </node>

</launch>